<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>com.flowtracker.weekly-universe</string>
  <key>ProgramArguments</key><array>
    <string>/bin/bash</string>
    <string>__HOME__/.local/share/flowtracker/scripts/weekly-universe.sh</string>
  </array>
  <key>EnvironmentVariables</key><dict><key>PATH</key><string>__HOME__/.local/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string></dict>
  <key>StartCalendarInterval</key><dict><key>Weekday</key><integer>0</integer><key>Hour</key><integer>5</integer><key>Minute</key><integer>0</integer></dict>
  <key>StandardOutPath</key><string>__HOME__/.local/share/flowtracker/cron.log</string>
  <key>StandardErrorPath</key><string>__HOME__/.local/share/flowtracker/cron.log</string>
</dict></plist>
